extends layout

block content
  div.row
    div.col-md-8
      table(cellspacing=1, cellpadding=1)
        thead
          tr
            th Location
            th Property Type
            th No. Bedrooms
            th No. Bathrooms
            th Asking Price (£)
        tbody
        for data in result.listing
          tr
            td #{data.street_name}
            td #{data.property_type}
            td #{data.num_bedrooms}
            td #{data.num_bathrooms}
            td #{data.price}
    div.col-md-4
      div#map

  <!-- Add Scripts-->
  script(type='text/javascript').
    var local_data = !{JSON.stringify(result)};
    console.log(local_data);
  script(type='text/javascript' src='/javascripts/external/leaflet/leaflet.js').
  script(type='text/javascript' src='/javascripts/properties_map.js').
